button {
  all: unset;
  border-radius: 8px;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.btn_image {
  display: block;
}

.background_type {
  background-color: #EB5017;
  color: #fff;
}

.no_background_type {
  background-color: none;
  border: 1px solid #D0D5DD;
  color: #344054;
}

.label {
  font-size: 14px;
  font-weight: 500;
  line-height: 18.2px;
  padding-block: 16px;
}

/* .background_type:hover {
  
}

.background_type:active {
  
}

.no_background_type:hover {
  
}

.no_background_type:active {
  
} */